/* Styles for the Login page */
.login-page {
  background-color: #f9f9f9;
  padding: 10px 0;
}

.login-header-container {
  background-image: url('../assets/backgroundLogin.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  padding: 50px 20px;
  border-radius: 10px;
}

.login-heading {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.login-description {
  font-size: 1.25rem;
  margin-bottom: 30px;
  font-weight: bold;
}

.login-form-container {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-button {
  width: 100%;
  background-color: #007bff;
  border: none;
  font-size: 1rem;
  font-weight: bold;
}

.register-link {
  margin-top: 15px;
  font-size: 1rem;
  text-align: center;
}

.register-link a {
  color: #007bff;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

/* Footer Styling */
.footer {
  background-color: #1c1d1a;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

.footer p {
  margin: 0;
  color: #ddecfc;
}

.social-icon {
  margin: 0 10px;
  color: #e5e8e9;
  text-decoration: none;
}

.social-icon:hover {
  text-decoration: underline;
}
